<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectPaardRacing.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient"/>

    <add key="connectionString" value="Data Source=DESKTOP-VC1FT17;Initial Catalog=Paardenrace;Integrated Security=True;Pooling=False"/>
  </appSettings>
    <userSettings>
        <ProjectPaardRacing.Settings1>
            <setting name="backGroundColorS" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BackGroundSongS" serializeAs="String">
                <value>Radetzky-Marsch.mp3</value>
            </setting>
            <setting name="AantalpaardenS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Paard1" serializeAs="String">
                <value>Geen</value>
            </setting>
            <setting name="Paard2" serializeAs="String">
                <value>Geen</value>
            </setting>
            <setting name="Paard3" serializeAs="String">
                <value>Geen</value>
            </setting>
        </ProjectPaardRacing.Settings1>
    </userSettings>
</configuration>